<div class="container">
    
    <div class="col-xs-8">
      <h3>我的结伴</h3>
      <hr>
      <div class="item">
        <div class="col-xs-3">
          <img src="../../../assets/img/destination/hotaddress6.jpeg" alt="">
        </div>
        <div class="col-xs-9">
          <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
          <p class="detail"><i>出发地：</i>兰州 <i>出发时间：</i> 2017-10-01 
          <i>目的地：</i>四川|青海|甘肃|甘南 <i>大约:</i>7天
          <i>希望人数：</i>6人
        </p>
          
          <button class="btn">修改</button>
          <button class="btn">停行</button>
        </div> 
      </div>
      <hr>

      <div class="item">
          <div class="col-xs-3">
            <img src="../../../assets/img/destination/hotaddress6.jpeg" alt="">
          </div>
          <div class="col-xs-9">
            <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
            <p class="detail"><i>出发地：</i>兰州 <i>出发时间：</i> 2017-10-01 
            <i>目的地：</i>四川|青海|甘肃|甘南 <i>大约:</i>7天
            <i>希望人数：</i>6人
          </p>
            
            <button class="btn">修改</button>
            <button class="btn">停行</button>
          </div> 
        </div>
        <hr>


        <div class="item">
            <div class="col-xs-3">
              <img src="../../../assets/img/destination/hotaddress6.jpeg" alt="">
            </div>
            <div class="col-xs-9">
              <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
              <p class="detail"><i>出发地：</i>兰州 <i>出发时间：</i> 2017-10-01 
              <i>目的地：</i>四川|青海|甘肃|甘南 <i>大约:</i>7天
              <i>希望人数：</i>6人
            </p>
              
              <button class="btn">修改</button>
              <button class="btn">停行</button>
            </div> 
          </div>
          <hr>

          <div class="item">
              <div class="col-xs-3">
                <img src="../../../assets/img/destination/hotaddress6.jpeg" alt="">
              </div>
              <div class="col-xs-9">
                <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
                <p class="detail"><i>出发地：</i>兰州 <i>出发时间：</i> 2017-10-01 
                <i>目的地：</i>四川|青海|甘肃|甘南 <i>大约:</i>7天
                <i>希望人数：</i>6人
              </p>
                
                <button class="btn">修改</button>
                <button class="btn">停行</button>
              </div> 
            </div>
            <hr>
      
      
    </div>
  </div>
  

