<div class="container">
    
    <div class="col-xs-8">
      <h3>我的游记</h3>
      <hr>
      <div class="item">
        <div class="col-xs-3">
          <img src="../../../assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
        </div>
        <div class="col-xs-9">
          <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
          <button class="btn">修改</button>
          <button class="btn">停行</button>
        </div> 
      </div>
      <hr>
      <div class="item">
          <div class="col-xs-3">
            <img src="../../../assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
          </div>
          <div class="col-xs-9">
            <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
            <button class="btn">修改</button>
            <button class="btn">停行</button>
          </div> 
      </div>
      <hr>
      <div class="item">
          <div class="col-xs-3">
            <img src="../../../assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
          </div>
          <div class="col-xs-9">
            <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
            <button class="btn">修改</button>
            <button class="btn">停行</button>
          </div> 
      </div>
      <hr>
      <div class="item">
          <div class="col-xs-3">
            <img src="../../../assets/img/youji/wKgBZ1lnLCuAGVQoACZW96OmPV854.jpeg" alt="">
          </div>
          <div class="col-xs-9">
            <p>2017年在夏天过春节，纯净新西兰14天2500公里自驾游</p>
            <button class="btn">修改</button>
            <button class="btn">停行</button>
          </div> 
      </div>
      
    </div>
  </div>
  
