<!--The content below is only a placeholder and can be replaced.-->
<!-- 登录页面 -->
<!-- <app-login></app-login> -->
<!-- 注册页面 -->
<!-- <app-regist></app-regist> -->
<!-- 导航条 -->
<!-- <app-nav></app-nav> -->
<!-- 游记主页 -->
<!-- <app-index></app-index> -->
<!-- 发布游记 -->
<!-- <app-addtournote></app-addtournote> -->
<!-- 游记详情 -->
<!-- <app-tournotedetail></app-tournotedetail> -->
<!-- 结伴主页 -->
<!-- <app-togetherhomepage></app-togetherhomepage> -->
<!-- 发布结伴 -->
<!-- <app-addtogether></app-addtogether> -->
<!-- 结伴详情 -->
<!-- <app-togetherdetail></app-togetherdetail> -->
<!-- 用户头像 -->
<!-- <app-head></app-head> -->
<!-- 用户信息 -->
<!-- <app-userinfo></app-userinfo> -->
<!-- 账户安全 -->
<!-- <app-secure></app-secure> -->

<!-- <app-mytournote></app-mytournote> -->
<!-- <app-mytogether></app-mytogether> -->

<!-- <app-footer></app-footer> -->

<router-outlet></router-outlet>
