<div class="wrap">
  <div class="logo">
    <img src="../../../assets/img/logomin.png" alt="">
  </div>
  <div class="box">
      <input type="text" placeholder="手机号" [(ngModel)]="loginTel">
      <br>
      <input type="text" placeholder="您的密码" [(ngModel)]="password">
      <br>
      <div class="status">
        <span style="color:red;margin-left:30px;">{{msg}}</span>
        <a id="forgetPassword">忘记密码</a>
      </div>
      
      <br>
      <button class="submit" (click)="doLogin()">登录</button>
      <hr>
      <p>用合作网站账号直接登录</p>
      <ul class="iconBox">
        <li class="icon sina"></li>
        <li class="icon qq"></li>
        <li class="icon wechat"></li>
      </ul>
  </div>
  <div class="registLink">
    还没有账号
    <a routerLink="/regist">马上注册</a>
  </div>

</div>

