<div class="container">
    <div class="col-xs-4">
      <div class="info">
        <a routerLink="./userinfo">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-user"></span>
          我的信息
        </a>
        
      </div>
      <div class="head">
        <a routerLink="./head">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-facetime-video"></span>        
          我的头像
        </a>
        
      </div>
      <div class="secure">
        <a routerLink="./secure">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-lock"></span>
          账号安全
        </a>
          
      </div>
    </div>
    <div class="col-xs-8">
      <router-outlet></router-outlet>
    </div>
  </div>
